* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(13, 3, 14, 0.9);
}

button {
    border-radius: 0;
    border-color: #2e1a2a;
	text-decoration-color: #ebdbb2;
    color: #ebdbb2;
	background-color: #1a0e16;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:active, button:hover {
	background-color: #6E1E70;
	outline-style: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/home/alex/.config/wlogout/logoutmenulabelor.png"), url("/home/alex/.config/wlogout/logoutmenulabelor.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
